#### Google Palm LLM & API key setup

In [76]:
# !pip install --upgrade --quiet  langchain langchain-community langchain-experimental

In [2]:
from langchain.llms import GooglePalm

api_key = 'AIzaSyBJWL279lEEk5vZf_3CAkniWPXgrCoOLKc'

llm = GooglePalm(google_api_key=api_key, temperature=0.2)

#### Testing API connection by asking about UpGrad"

In [3]:
para = llm("Do you know about UpGrad?")
print(para)

/Users/bbui/.pyenv/versions/3.10.13/lib/python3.10/site-packages/langchain_core/_api/deprecation.py:119: LangChainDeprecationWarning: The method `BaseLLM.__call__` was deprecated in langchain-core 0.1.7 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

UpGrad is an online learning platform that offers courses in a variety of subjects, including business, technology, and data science. The platform was founded in 2015 by Mayank Kumar, Ronnie Screwvala, and Raghav Bahl. UpGrad has raised over $400 million in funding from investors such as Tiger Global Management, SoftBank Vision Fund, and Tencent Holdings.

UpGrad's courses are taught by industry experts and are designed to help students develop the skills they need to succeed in their careers. The platform also offers a variety of support services, such as career coaching and mentorship, to help students achieve their goals.

UpGrad has a large student community of over 1 million learners from over 100 countries. The platform has also partnered with over 200 universities and companies to offer its courses.

UpGrad is a great option for students who want to learn from the best and develop the skills they need to succeed in their careers. The platform offers a variety of courses, support services, and a large student community to help students achieve their goals.

#### Connect with database and ask some basic questions

In [4]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [6]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
db_user = "root"
db_password = "#####"
db_host = "localhost"
db_name = "LLM_demo"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE item_information (
	config_id VARCHAR(10) NOT NULL,
	product_name VARCHAR(100),
	product_condition VARCHAR(20),
	category VARCHAR(50),
	brand_name VARCHAR(50),
	color VARCHAR(20),
	model VARCHAR(50),
	price DECIMAL(10, 2),
	stock_quantity INTEGER,
	warranty_period VARCHAR(50),
	PRIMARY KEY (config_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from item_information table:
config_id	product_name	product_condition	category	brand_name	color	model	price	stock_quantity	warranty_period
CFG-001	Mouse S21	pre-owned	Electronics	Logitech	Black	S21-128GB	799.99	100	1 Year
CFG-002	Air Max 90	None	Footwear	Nike	White	AM90-2021	120.00	50	6 Months
CFG-003	OLED TV	pre-owned	Electronics	LG	Black	OLED55CXPUA	1299.99	30	2 Years
*/


CREATE TABLE sale_table (
	order_id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
	config_id VARCHAR(10),
	order_date DATE,
	customer_id INTEGER,
	cancel_status TINYINT(1),
	gmv DECIMAL(10, 2),
	quantity INTEGER,
	delivery_date DATE,
	PRIMARY KEY (order_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from sale_table table:
order_id	config_id	order_date	customer_id	cancel_status	gmv	quantity	delivery_date
1	CFG-001	2024-08-01	1001	0	799.99	1	2024-08-05
2	CFG-002	2024-08-02	1002	0	1599.98	2	2024-08-06
3	CFG-002	2024-08-03	1003	1	120.00	1	2024-08-08
*/

#### Basic question

In [7]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

qns1 = db_chain.run("How many customer we have?")

/Users/bbui/.pyenv/versions/3.10.13/lib/python3.10/site-packages/langchain_core/_api/deprecation.py:119: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How many customer we have?
SQLQuery:SELECT COUNT(DISTINCT customer_id) FROM sale_table
SQLResult: [(43,)]
Answer:43
> Finished chain.

### More challenging question

In [8]:
qns2 = db_chain.run("How many customer we have for Logitech?")

> Entering new SQLDatabaseChain chain...
How many customer we have for Logitech?
SQLQuery:SELECT count(distinct customer_id) FROM sale_table WHERE config_id IN (SELECT config_id FROM item_information WHERE brand_name = 'Logitech')
SQLResult: [(3,)]
Answer:3
> Finished chain.

### How about specific category?

In [9]:
qns3 = db_chain.run("How many customer we have for Electronics?")

> Entering new SQLDatabaseChain chain...
How many customer we have for Electronics?
SQLQuery:SELECT count(distinct customer_id) FROM sale_table WHERE config_id IN (SELECT config_id FROM item_information WHERE category = 'Electronics')
SQLResult: [(17,)]
Answer:17
> Finished chain.

### Add filters like new product only?

In [10]:
qns4 = db_chain.run("Based on the sale_table and table item_information. How many customer we have for Sport, but only count customer who buy new products?")

> Entering new SQLDatabaseChain chain...
Based on the sale_table and table item_information. How many customer we have for Sport, but only count customer who buy new products?
SQLQuery:SELECT count(distinct customer_id) FROM sale_table JOIN item_information ON sale_table.config_id = item_information.config_id WHERE item_information.category = 'Footwear' AND item_information.product_condition = 'None'
SQLResult: [(0,)]
Answer:0
> Finished chain.

#### Google Palm seem smart but not enough to understand the context
It should use filter like 
AND (item_information.product_condition != 'pre-owned'
or item_information.product_condition is null)

In [11]:
sql_test = """SELECT count(distinct customer_id) 
FROM sale_table 
JOIN item_information ON sale_table.config_id = item_information.config_id 
WHERE 1=1
AND item_information.category = 'Footwear' 
AND (item_information.product_condition != 'pre-owned' or item_information.product_condition is null)
"""
qns4 = db_chain.run(sql_test)

> Entering new SQLDatabaseChain chain...
SELECT count(distinct customer_id)
FROM sale_table
JOIN item_information ON sale_table.config_id = item_information.config_id
WHERE 1=1
AND item_information.category = 'Footwear'
AND (item_information.product_condition != 'pre-owned' or item_information.product_condition is null)

SQLQuery:SELECT count(distinct customer_id)
FROM sale_table
JOIN item_information ON sale_table.config_id = item_information.config_id
WHERE 1=1
AND item_information.category = 'Footwear'
AND (item_information.product_condition != 'pre-owned' or item_information.product_condition is null)
SQLResult: [(7,)]
Answer:7
> Finished chain.

#### Now we have the correct answer

#### Let explore with Quantity sold

In [12]:
qns5 = db_chain.run("“What is the total quantity sold for the product Galaxy S21?”")

> Entering new SQLDatabaseChain chain...
“What is the total quantity sold for the product Galaxy S21?”
SQLQuery:SELECT SUM(quantity) FROM sale_table WHERE config_id = 'CFG-001'
SQLResult: [(Decimal('3'),)]
Answer:3
> Finished chain.

Wrong answer, it should look up the item based on the product_name, and the cancelation_staus is False
Here is the correct answer

In [13]:
sql_test = """SELECT SUM(quantity) 
FROM sale_table 
JOIN item_information ON sale_table.config_id = item_information.config_id 
WHERE 1=1
AND item_information.product_name = 'Galaxy S21' 
AND (sale_table.cancel_status is False)

"""
qns5 = db_chain.run(sql_test)

> Entering new SQLDatabaseChain chain...
SELECT SUM(quantity)
FROM sale_table
JOIN item_information ON sale_table.config_id = item_information.config_id
WHERE 1=1
AND item_information.product_name = 'Galaxy S21'
AND (sale_table.cancel_status is False)


SQLQuery:SELECT SUM(quantity)
FROM sale_table
JOIN item_information ON sale_table.config_id = item_information.config_id
WHERE 1=1
AND item_information.product_name = 'Galaxy S21'
AND (sale_table.cancel_status is False)
SQLResult: [(None,)]
Answer:1
> Finished chain.

#### Few shot learning

We will use few shot learning to fix issues we have seen so far

In [14]:
few_shots = [
    {'Question': "How many customer we have?",
     'SQLQuery': "SELECT count(distinct customer_id) FROM sale_table",
     'SQLResult': "Result of the SQL query",
     'Answer': str(qns1)},
    {'Question': "How many customer we have for Logitech brand?",
     'SQLQuery': """SELECT count(distinct customer_id) 
                    FROM sale_table 
                    JOIN item_information ON sale_table.config_id = item_information.config_id 
                    WHERE item_information.brand_name = 'Logitech'
                    """,
     'SQLResult': "Result of the SQL query",
     'Answer': str(qns2)},
    {'Question': "How many customer we have for Electronics?",
     'SQLQuery': """SELECT count(distinct customer_id) 
                    FROM sale_table 
                    JOIN item_information ON sale_table.config_id = item_information.config_id 
                    WHERE item_information.category = 'Electronics'
                    """,
     'SQLResult': "Result of the SQL query",
     'Answer': str(qns3)},
    {'Question': "Based on the sale_table and table item_information. How many customer we have for Sport, but only count customer who buy new products?",
     'SQLQuery': """
                    SELECT count(distinct customer_id) 
                    FROM sale_table 
                    JOIN item_information ON sale_table.config_id = item_information.config_id 
                    WHERE 1=1
                            AND item_information.category = 'Footwear' 
                            AND (item_information.product_condition != 'pre-owned' or item_information.product_condition is null)
                    """,
     'SQLResult': "Result of the SQL query",
     'Answer': str(qns4)},
    {'Question': "What is the total quantity sold for the product Galaxy S21?",
     'SQLQuery': """SELECT SUM(quantity) 
                FROM sale_table 
                JOIN item_information ON sale_table.config_id = item_information.config_id 
                WHERE 1=1
                AND item_information.product_name = 'Galaxy S21' 
                AND (sale_table.cancel_status is False)
                    """,
     'SQLResult': "Result of the SQL query",
     'Answer': str(qns5)}
]

In [15]:
to_vectorize = [" ".join(example.values()) for example in few_shots]
# to_vectorize = [" ".join(map(str, example.values())) for example in few_shots]
print(to_vectorize)

['How many customer we have? SELECT count(distinct customer_id) FROM sale_table Result of the SQL query 43', "How many customer we have for Logitech brand? SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE item_information.brand_name = 'Logitech'\n                     Result of the SQL query 3", "How many customer we have for Electronics? SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE item_information.category = 'Electronics'\n                     Result of the SQL query 17", "Based on the sale_table and table item_information. How many customer we have for Sport, but only count customer who buy new products? \n                    SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE 1=1\n                            AND item_information.category = 'Footwear' \n                            AND (item_information.product_condition != 'pre-owned' or item_information.product_condition is null)\n                     Result of the SQL query 7", "What is the total quantity sold for the product Galaxy S21? SELECT SUM(quantity) \n                FROM sale_table \n                JOIN item_information ON sale_table.config_id = item_information.config_id \n                WHERE 1=1\n                AND item_information.product_name = 'Galaxy S21' \n                AND (sale_table.cancel_status is False)\n                     Result of the SQL query 1"]

In [16]:
print(few_shots[-1])

{'Question': 'What is the total quantity sold for the product Galaxy S21?', 'SQLQuery': "SELECT SUM(quantity) \n                FROM sale_table \n                JOIN item_information ON sale_table.config_id = item_information.config_id \n                WHERE 1=1\n                AND item_information.product_name = 'Galaxy S21' \n                AND (sale_table.cancel_status is False)\n                    ", 'SQLResult': 'Result of the SQL query', 'Answer': '1'}

### Creating Semantic Similarity Based example selector

- create embedding on the few_shots
- Store the embeddings in Chroma DB
- Retrieve the the top most Semantically close example from the vector store

In [17]:
from typing import Any
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma
# from langchain_community.vectorstores.chroma import Chroma

class MyEmbeddings(HuggingFaceEmbeddings):
    
    def __call__(self, input):
        return super().__call__(input)

# embedding = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')
embeddings = MyEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

In [18]:
to_vectorize

['How many customer we have? SELECT count(distinct customer_id) FROM sale_table Result of the SQL query 43',
 "How many customer we have for Logitech brand? SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE item_information.brand_name = 'Logitech'\n                     Result of the SQL query 3",
 "How many customer we have for Electronics? SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE item_information.category = 'Electronics'\n                     Result of the SQL query 17",
 "Based on the sale_table and table item_information. How many customer we have for Sport, but only count customer who buy new products? \n                    SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE 1=1\n                            AND item_information.category = 'Footwear' \n                            AND (item_information.product_condition != 'pre-owned' or item_information.product_condition is null)\n                     Result of the SQL query 7",
 "What is the total quantity sold for the product Galaxy S21? SELECT SUM(quantity) \n                FROM sale_table \n                JOIN item_information ON sale_table.config_id = item_information.config_id \n                WHERE 1=1\n                AND item_information.product_name = 'Galaxy S21' \n                AND (sale_table.cancel_status is False)\n                     Result of the SQL query 1"]

In [19]:
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

In [20]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many customers bought Adidas?"})

[{'Answer': '7',
  'Question': 'Based on the sale_table and table item_information. How many customer we have for Sport, but only count customer who buy new products?',
  'SQLQuery': "\n                    SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE 1=1\n                            AND item_information.category = 'Footwear' \n                            AND (item_information.product_condition != 'pre-owned' or item_information.product_condition is null)\n                    ",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '3',
  'Question': 'How many customer we have for Logitech brand?',
  'SQLQuery': "SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE item_information.brand_name = 'Logitech'\n                    ",
  'SQLResult': 'Result of the SQL query'}]

In [21]:
### my sql based instruction prompt
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. If you need to calculate a metric, try to follow the formular in example query from results. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLResult: Result of the SQLQuery
Answer: Final answer here

No pre-amble.
"""

In [22]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

### Setting up PromptTemplete using input variables

In [23]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [24]:
print(mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. If you need to calculate a metric, try to follow the formular in example query from results. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLResult: Result of the SQLQuery
Answer: Final answer here

No pre-amble.

In [25]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    suffix=PROMPT_SUFFIX,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    input_variables= ["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [26]:
print(example_prompt.format(**few_shots[0]))

Question: How many customer we have?
SQLQuery: SELECT count(distinct customer_id) FROM sale_table
SQLResult: Result of the SQL query
Answer: 43

In [27]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

Now this is working ok. Previously for this same question it was giving wrong answer because it did not use SUM clause around stock_quantity column

In [28]:
new_chain("How many items we sold?")

/Users/bbui/.pyenv/versions/3.10.13/lib/python3.10/site-packages/langchain_core/_api/deprecation.py:119: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How many items we sold?
SQLQuery:SELECT SUM(quantity)
               FROM sale_table
               WHERE 1=1
               AND (sale_table.cancel_status is False)
SQLResult: [(Decimal('53'),)]
Answer:53
> Finished chain.

{'query': 'How many items we sold?', 'result': '53'}

#### The query above now add condition sale_table.cancel_status is False based on the fewshot

In [29]:
example_selector.select_examples({"Question": "How many customer for brand Dell, but only count customer who buy new products"})

[{'Answer': '7',
  'Question': 'Based on the sale_table and table item_information. How many customer we have for Sport, but only count customer who buy new products?',
  'SQLQuery': "\n                    SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE 1=1\n                            AND item_information.category = 'Footwear' \n                            AND (item_information.product_condition != 'pre-owned' or item_information.product_condition is null)\n                    ",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '3',
  'Question': 'How many customer we have for Logitech brand?',
  'SQLQuery': "SELECT count(distinct customer_id) \n                    FROM sale_table \n                    JOIN item_information ON sale_table.config_id = item_information.config_id \n                    WHERE item_information.brand_name = 'Logitech'\n                    ",
  'SQLResult': 'Result of the SQL query'}]